{% extends "index.html" %}
{% block content %}
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<style>
    .swiper {
        width: 80px;
        height: 350px;
        /* Karusel balandligi */
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        border-radius: 8px;
    }
</style>
<div class="container flex gap-4 justify-between">
    <div>
        <div class="!mt-4">
            <a class="text-sm" href="{% url 'home' %}">Bosh sahifa</a>
            <span class="text-[#7E8190] text-[11px]">/</span>
            <a class="text-sm text-[#7E8190]" href="#">Barcha toifalar</a>
            <span class="text-[#7E8190] text-[11px]">/</span>
            <a class="text-sm text-[#7E8190]" href="#">Uy-ro'zg'or buyumlari</a>
            <span class="text-[#7E8190] text-[11px]">/</span>
            <a class="text-sm text-[#7E8190]" href="#">Oshxona buyumlari</a>
            <span class="text-[#7E8190] text-[11px]">/</span>
            <a class="text-sm text-[#7E8190]" href="#">Ovqat pishirish uchun idishlar</a>
        </div>
        <div>
            <div class="w-[815px]">
              
                <h2 class="text-[24px] text-[#1f22026] font-semibold">{{tovar.tavsif}}</h2>
                <div class="text-[#7E8190] text-sm">
                    <span>⭐⭐⭐⭐</span>
                    <span>5 (130 sharh)</span>
                    <span>. 8 fotosurat .</span>
                    <span>+400 buyurtma</span>
                </div>
                <div class="relative h-[350px]">
                    <div class="swiper mySwiper absolute right-[368px]">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img class="rounded-md" src="{{  tovar.imgs.url}}" width="63px"
                                    height="83px"></div>
                            <div class="swiper-slide"><img class="rounded-md" src="/static/img/tovar2.jpg" width="63px"
                                    height="83px"></div>
                            <div class="swiper-slide"><img class="rounded-md" src="/static/img/tovar2.jpg" width="63px"
                                    height="83px"></div>
                            <div class="swiper-slide"><img class="rounded-md" src="/static/img/tovar2.jpg" width="63px"
                                    height="83px"></div>
                            <div class="swiper-slide"><img class="rounded-md" src="/static/img/tovar2.jpg" width="63px"
                                    height="83px"></div>
                            <div class="swiper-slide"><img class="rounded-md" src="/static/img/tovar2.jpg" width="63px"
                                    height="83px"></div>
                        </div>

                        <!-- Navigatsiya tugmalari -->
                        <div style="transform: rotate(90deg) translateY(34%) translateX(510%);"
                            class="swiper-button-next">
                        </div>
                        <div style="transform: rotate(90deg) translateY(-29%) translateX(-510%); "
                            class="swiper-button-prev"></div>
                    </div>
                    <div style="transform: translateY(-100%);">
                        <div style="margin-left: 100px;" class="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item  h-[200px]"
                                    style="background-image: url('/static/img/tovar_carusel1.jpg')">
                                </div>
                                <div class="carousel-item  h-[300px] mt-2"
                                    style="background-image: url('/static/img/tovar_carusel1.jpg')"></div>
                                <div class="carousel-item  h-[300px]"
                                    style="background-image: url('/static/img/tovar_carusel1.jpg')"></div>
                                <div class="carousel-item  h-[300px]"
                                    style="background-image: url('/static/img/tovar_carusel1.jpg')"></div>
                                <div class="carousel-item  h-[300px]"
                                    style="background-image: url('/static/img/tovar_carusel1.jpg')"></div>
                                <div class="carousel-item  h-[300px]"
                                    style="background-image: url('/static/img/tovar_carusel1.jpg')"></div>
                                <div class="carousel-item  h-[300px]"
                                    style="background-image: url('/static/img/tovar_carusel1.jpg')"></div>

                            </div>
                            <div class="carousel-controls">
                                <i class="fa-solid fa-chevron-left control-btn" id="prevBtn"></i><i
                                    class="fa-solid fa-chevron-right control-btn" id="nextBtn"></i>
                                <!-- <button class="control-btn" id="prevBtn">&#8249;</button>
                            <button class="control-btn" id="nextBtn">&#8250;</button> -->
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div>
                    <div class="!mt-[20px] flex gap-4">
                        <div>
                            <span class="text-[18px] font-bold"></span>
                            <span>⭐⭐⭐⭐</span>
                        </div>
                        <div>
                            <span style="border-bottom: 1px solid #C5C6CC;" class="text-[14px] text-[#C5C6CC]">{{ tovar.sharhi }}
                                sharh</span>
                        </div>
                        
                    </div>
                    <div class="flex gap-4 items-center !mt-[20px]">
                        <img class="rounded-[10px]" src="/static/img/tovar1.jpg" alt="" width="82px" height="82px">
                        <img class="rounded-[10px]" src="/static/img/tovar1.jpg" alt="" width="82px" height="82px">
                        <img class="rounded-[10px]" src="/static/img/tovar1.jpg" alt="" width="82px" height="82px">
                        <img class="rounded-[10px]" src="/static/img/tovar1.jpg" alt="" width="82px" height="82px">
                        <img class="rounded-[10px]" src="/static/img/tovar1.jpg" alt="" width="82px" height="82px">
                        <img class="rounded-[10px]" src="/static/img/tovar1.jpg" alt="" width="82px" height="82px">
                        <img class="rounded-[10px]" src="/static/img/tovar1.jpg" alt="" width="82px" height="82px">
                        <img class="rounded-[10px]" src="/static/img/tovar1.jpg" alt="" width="82px" height="82px">
                        <img class="rounded-[10px]" src="/static/img/tovar1.jpg" alt="" width="82px" height="82px">
                    </div>
                    <div class="!mt-[20px] flex gap-4 items-center">
                        <div style="padding: 20px;border: 1px solid #C5C6CC; border-radius: 10px;"
                            class="w-[400px] h-[169px]">
                            <div class="flex items-center justify-between">
                                <div>
                                    <span class="text-[14px] font-bold">O'g'iloy</span> <br>
                                    <span class="text-[12px] text-[#7E8190]">29-yanvar</span>
                                </div>
                                <div>
                                    <span>⭐⭐⭐⭐</span>
                                </div>
                            </div>
                            <div class="!mt-[20px]">
                                <span class="text-[14px]">Afzalliklari: Sifatli</span> <br>
                                <span class="text-[14px]">Kamchunliklari: Yoq</span> <br>
                                <span class="text-[14px]">Izoh:Maxsulot Sifatli</span>
                            </div>
                        </div>
                        <div style="padding: 20px;border: 1px solid #C5C6CC; border-radius: 10px;"
                            class="w-[400px] h-[169px]">
                            <div class="flex items-center justify-between">
                                <div>
                                    <span class="text-[14px] font-bold">Andrey</span> <br>
                                    <span class="text-[12px] text-[#7E8190]"> 2024 9-avgust</span>
                                </div>
                                <div>
                                    <span>⭐⭐⭐⭐</span>
                                </div>
                            </div>
                            <div class="!mt-[20px]">
                                <span class="text-[14px]">Afzalliklari: Qulay</span> <br>
                                <span class="text-[14px]">Kamchunliklari: Yoq</span> <br>
                                <span class="text-[14px]">Izoh:Maxsulot Yahshi</span>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="!mt-4">
        <h1 class="text-[#7F4DFF] text-[14px] font-semibold">O'lchamlar haqida batafsil</h1>
        <div class="!mt-[40px] !p-[20px]  w-[355px] h-[410px] border border-[#C5C6CC] rounded-[20px] ">
            <div class="flex gap-2 items-center">
                <span class="text-[28px] font-semibold">{{  tovar.assl_narx}} so'm</span>
                <span class="text-[#C5C6CC] font-semibold line-through tracking-tight">{{  tovar.skidkasi}} so'm</span>
                <button class="w-[44px] h-[22px] bg-[#FFFF00] font-semibold text-[12px] rounded-[50px]">{{ tovar.foizi }}%</button>
            </div>
            <div class="w-[313px] !p-[10px] h-[93px] bg-[#E9EBF0]  rounded-[10px]">
                <div
                    class="w-[295px] rounded-[5px] h-[33px] bg-[#f0f2f5] !p-[10px] flex justify-between items-center text-[12px] font-semibold">
                    <span>24 oy</span>
                    <span>12 oy</span>
                    <span>6 oy</span>
                    <span>3 oy</span>
                </div>
                <div class="flex items-center justify-between !pt-4">
                    <div>
                        <span class="w-[112px] !p-[3px] font-bold h-[24px] bg-[#FFFF00] rounded-[5px] ">98 583
                            so'm</span>
                        <span class="text-[12px]">x 12 oy</span>
                    </div>
                    <i class=" text-[#C5C6CC] text-[14px] fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="!mt-6 flex items-center justify-between">
                <a class=" text-center w-[250px] h-[48px] bg-[#E9EBF0] rounded-[10px] !p-[10px] inline-block" href="#">1
                    bir bosishda xarid</a>
                <div class="w-[48px] h-[48px] bg-[#E9EBF0] rounded-[10px] flex justify-center items-center">
                    <i class="text-[24px] fa-regular fa-heart"></i>
                </div>
            </div>
            
            <button class="!mt-4 w-full text-white h-[48px] bg-[#7000FF] rounded-[10px]">Savatga qo'shish</button>
            <div class="flex items-center !mt-4 gap-2">
                <div class="w-[32px] h-[32px] bg-[#EBFAEE] rounded-[10px] flex justify-center items-center ">
                    <i class="fa-solid fa-check"></i>
                </div>
                <span class="text-[14px]">12 dona xarid qilish mumkun</span>
            </div>
            <div class="flex items-center !mt-4 gap-2">
                <div class="w-[32px] h-[32px] bg-[#FFEFCC] rounded-[10px] flex justify-center items-center ">
                    <i class="fa-solid fa-check-to-slot"></i>
                </div>
                <span class="text-[14px]">Bu haftada 9 kishi sotib oldi</span>
            </div>
        </div>
    </div>
</div>

<script>
    var swiper = new Swiper(".mySwiper", {
        direction: "vertical", // Karusel vertikal bo'lishi uchun
        slidesPerView: 3, // Bir vaqtning o'zida nechta rasm ko'rinishi
        spaceBetween: 10, // Rasm orasidagi masofa
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        mousewheel: true, // Sichqoncha bilan boshqarish
    });
</script>

{% endblock %}